api/src/main/resources/timecardjson/*

api/.gradle
api/build/
!api/gradle/wrapper/gradle-wrapper.jar
!api/**/src/main/**/build/
!api/**/src/test/**/build/

### STS ###
api/.apt_generated
api/.classpath
api/.factorypath
api/.project
api/.settings
api/.springBeans
api/.sts4-cache
api/bin/
!api/**/src/main/**/bin/
!api/**/src/test/**/bin/
!api/src/build/libs/racing-stat-analysis-latest.jar
api/src/main/resources/certs/*

application-local.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
api/out/
!api/**/src/main/**/out/
!api/**/src/test/**/out/

### VS Code ###
.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
